# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# Logs
logs/
*.log

# Ignore data files but keep folder placeholders
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Bazy lokalne
*.duckdb
*.duckdb.wal

# Cache narzedzi
.pytest_cache/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db

# Moje notatki

notes/prompt-główny.md

# Claude Code (ustawienia lokalne)
.claude/settings.local.json